body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: rgb(186, 255, 232);
    position: relative;
}

#trigger {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

footer {
    height: 45px;
    background-color: bisque;
}

header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

h2 {
    margin-left: 45px;
    margin-bottom: 30px;
}

.collection-grid {
    margin: 0 auto;
    background-color: blueviolet;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    gap: 12px;
    box-sizing: border-box;
    padding: 25px 12px;
}

#collection-container {
    margin-bottom: 100px;
}

#collection-container p {
	margin: 0;
}

#collection-container .book-space {
	background-color: grey; 
	height:100%; 
	width: 100%; 
	border-radius: 15px; 
	box-sizing: border-box;
	padding: 20px 10px; 
	display: flex; 
	flex-direction: column; 
	justify-content: space-around; 
	align-items: center;
}

#collection-container div .not-read {
	background-color: crimson;
}

#collection-container div .read {
	background-color: aquamarine;
}

#data-collecter {
    border: solid 5px black;
    border-radius: 18px;
    margin-top: 50px;
    padding: 35px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -255px;;
    margin-top: -122px;
    font-size: 22px;
}

#data-collecter input:nth-child(-n + 3) {
    border-radius: 7px;
    border-style: none;
    font-size: 22px;
    margin-left: 25px;
}

#data-collecter div:nth-child(1) {
    display: flex;
    justify-content: flex-end;
}


#data-collecter div:nth-child(n + 2) {
	display: flex;
	justify-content: space-between;
}


#data-collecter div:nth-child(n+5) {
	display: flex;
	justify-content: center;
}


#data-collecter div {
	margin-bottom: 15px;
}

#data-collecter button:last-child {
    border-radius: 20px;
    border: none;
    font-size: 22px;
    padding: 5px 18px;
}