body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: rgb(173, 255, 228);
    position: relative;
}

header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.collection-grid {
    margin: 0 auto;
    background-color: blueviolet;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    gap: 12px;
    box-sizing: border-box;
    padding: 25px 12px;
}

#data-collecter {
    border-radius: 18px;
    margin-top: 50px;
    padding: 28px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -52px;
    margin-left: -200px;
}